/*
	Installed from https://reactbits.dev/default/
*/

.scroll-float {
  overflow: hidden;
}

.scroll-float-text {
  display: inline-block;
  font-size: clamp(1.3rem, 6vw, 7rem);
  font-weight: 600;
  text-align: center;
  line-height: 1.5;
  color: #8991b1;
}

.char {
  display: inline-block;
}
